In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import glob

# Importing tools
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
# Reading the HR Training Data .csv file with read_csv as hr_training
hr_training =pd.read_csv('C:\\Users\\Public\\Desktop\\DAT-430\\HR Training Data.csv')

In [4]:
# Creating a list of filenames that match the provided pattern in the directory
hr_data =glob.glob('C:\\Users\\Public\\Desktop\\DAT-430\\HRData (*).csv')

In [5]:
# Merging all of the HR Data files 
hr_data_full = []
for data in hr_data:
    hr_data_full.append(pd.read_csv(data))

In [6]:
column_order = hr_data_full[0].columns.tolist()

In [7]:
column_order

['Age',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'Attrition']

In [8]:
hr_combined = pd.concat(hr_data_full, ignore_index= True)

In [9]:
hr_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       6040 non-null   int64
 1   BusinessTravel            6040 non-null   object
 2   DailyRate                 6040 non-null   int64
 3   Department                6040 non-null   object
 4   DistanceFromHome          6040 non-null   int64
 5   Education                 6040 non-null   object
 6   EducationField            6040 non-null   object
 7   EmployeeCount             6040 non-null   int64
 8   EmployeeNumber            6040 non-null   object
 9   EnvironmentSatisfaction   6040 non-null   int64
 10  Gender                    6040 non-null   object
 11  HourlyRate                6040 non-null   int64
 12  JobInvolvement            6040 non-null   int64
 13  JobLevel                  6040 non-null   int64
 14  JobRole                   6040 non-null   object
 15  JobSatisfaction           6040 non-null   int64
 16  MaritalStatus             6040 non-null   object
 17  MonthlyIncome             6040 non-null   object
 18  MonthlyRate               6040 non-null   object
 19  NumCompaniesWorked        6040 non-null   int64
 20  Over18                    6040 non-null   object
 21  OverTime                  6040 non-null   object
 22  PercentSalaryHike         6040 non-null   int64
 23  PerformanceRating         6040 non-null   int64
 24  RelationshipSatisfaction  6040 non-null   int64
 25  StandardHours             6040 non-null   int64
 26  StockOptionLevel          6040 non-null   int64
 27  TotalWorkingYears         6040 non-null   int64
 28  TrainingTimesLastYear     6040 non-null   int64
 29  WorkLifeBalance           6040 non-null   int64
 30  YearsAtCompany            6040 non-null   int64
 31  YearsInCurrentRole        6040 non-null   int64
 32  YearsSinceLastPromotion   6040 non-null   int64
 33  YearsWithCurrManager      6040 non-null   int64
 34  Attrition                 5976 non-null   object
dtypes: int64(22), object(13)
memory usage: 1.6+ MB

In [10]:
hr_combined.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,20,Non-Travel,870,Human Resources,44,2,Human Resources,1,68-5716114,1,...,80,0,27,5,2,8,2,0,14,No
1,45,Non-Travel,458,Human Resources,39,4,Human Resources,1,09-4992202,3,...,80,2,38,3,4,36,15,2,12,No
2,27,Travel_Frequently,871,Human Resources,23,1,Life Sciences,1,95-3976742,4,...,80,3,39,0,3,32,18,0,8,Yes
3,41,Non-Travel,1237,Research & Development,44,1,Human Resources,1,73-6209120,3,...,80,1,38,6,3,10,18,10,12,Yes
4,48,Non-Travel,882,Human Resources,24,2,Technical Degree,1,90-5506869,4,...,80,3,19,5,2,10,6,7,15,Yes

In [11]:
hr_training.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,JobLevel,HourlyRate,MonthlyRate,MonthlyIncome,JobRole,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,33,Travel_Rarely,576,Research & Development,27,1,133,21280,17024,Laboratory Technician,...,2,80,1,32,4,19,7,12,0,Yes
1,56,Travel_Frequently,695,Human Resources,9,5,147,23520,18816,Human Resources,...,4,80,3,25,3,7,10,4,12,Yes
2,37,Non-Travel,1424,Sales,24,2,89,14240,11392,Manager,...,4,80,1,11,4,20,13,8,14,No
3,20,Travel_Frequently,187,Sales,31,2,91,14560,11648,Human Resources,...,2,80,0,22,3,40,17,3,3,No
4,33,Travel_Rarely,796,Research & Development,5,4,103,16480,13184,Research Director,...,3,80,2,36,4,6,12,1,11,Yes

In [12]:
# Seeing all the values for each column 
for col in hr_combined:
    print(f"{col}: {hr_combined[col].unique()}")

Age: [20 45 27 41 48 47 51 55 44 31 53 19 30 25 58 23 29 22 40 43 46 56 59 26
 38 52 35 28 39 37 54 18 33 60 57 50 24 34 49 42 36 32 21]
BusinessTravel: ['Non-Travel' 'Travel_Frequently' 'Travel_Rarely']
DailyRate: [ 870  458  871 ...  947 1161 1289]
Department: ['Human Resources' 'Research & Development' 'Sales']
DistanceFromHome: [44 39 23 24 36 16 45 43 26 38  8 40  3  7 27 35 34 46  5 11 13 37 47 33
  9 29 15  1 25  2 31 22 42  6 20 50 41 17  4 19 12 30 10 18 32 48 28 14
 21 49]
Education: [2 4 1 3 16 20 18 14 12 5 "error: Field 'JobRole' not found"]
EducationField: ['Human Resources' 'Life Sciences' 'Technical Degree' 'Medical' 'Other'
 'Sales' 'Marketing']
EmployeeCount: [1]
EmployeeNumber: ['68-5716114' '09-4992202' '95-3976742' ... '69-0525854' '38-3081809'
 '94-7558493']
EnvironmentSatisfaction: [1 3 4 2]
Gender: ['M' 'F' 'Female' 'Male']
HourlyRate: [126  75 123 140 116 138  94  40 133  85  82  93 121  77  70 102 106  91
  96  65  39 136 100  71 144 129  47  87  33  97 109  52 145  57  38 146
  76  30 105  49 132  51 134 108 135  81 142 139  42  68  31  99  58  32
  78  62  88 104  55  50  53  95  73 131  69 141 125  80  45  86 127  89
  61 130 148 110  84 122 120  64 149 111  48  90 112  44 137  79  41  56
 150  37 143  63  67  74 114  92  34  43 119 113  66  36  59 128  54  72
  35  83 107 101 115  46 103 118  60 124  98 147 117]
JobInvolvement: [4 2 1 3]
JobLevel: [2 3 5 1 4]
JobRole: ['Manager' 'Research Scientist' 'Sales Executive' 'Sales Representative'
 'Laboratory Technician' 'Human Resources' 'Manufacturing Director'
 'Healthcare Representative' 'Research Director']
JobSatisfaction: [3 2 4 1]
MaritalStatus: ['Married' 'Single' 'Divorced']
MonthlyIncome: ["Syntax error in formula '((HourlyRate * 160)*.2) + (HourlyRate * 160) '"
 15744 17664 ... 14976
 "Syntax error in formula '((field('HourlyRate') * 160)*.2) + (field('HourlyRate') * 160) '"
 "Syntax error in formula 'field('MonthlyRate') * .8'"]
MonthlyRate: ["error: Please use field('HourlyRate') to access HourlyRate because it starts with an upper case letter."
 19680 22080 ... 13243 10228 18720]
NumCompaniesWorked: [6 3 1 8 4 7 2 0 5 9]
Over18: ['Yes' 'Y']
OverTime: ['No' 'Yes']
PercentSalaryHike: [13 25 12 10 22 20 11 21 15 19 24 17 16 18 14 23]
PerformanceRating: [2 1 3 4]
RelationshipSatisfaction: [4 1 2 3]
StandardHours: [80]
StockOptionLevel: [0 2 3 1]
TotalWorkingYears: [27 38 39 19 12 22 34 40  2  5 14 10  1 15 18 20 33 37 29  7 31 26 30 32
 25 28  4 17  8 36 35 16 11  9 23  6 21  0 13 24  3]
TrainingTimesLastYear: [5 3 0 6 1 2 4]
WorkLifeBalance: [2 4 3 1]
YearsAtCompany: [ 8 36 32 10 25 34 31 28 14  3 30 24 22 33 23  9 11 38 26 20  2  4 18 27
 37 35  7 12 29 13  6 15 17 21 16  1  5 39 40 19  0]
YearsInCurrentRole: [ 2 15 18  6 20  3 17  4 13 12 11  5  7  9 10  8 19  0  1 14 16]
YearsSinceLastPromotion: [ 0  2 10  7  4  8  5  1 13  3 11  9 12 15 14  6]
YearsWithCurrManager: [14 12  8 15  9 13  2 17  7  6  1 16  3  5 10  0 11  4]
Attrition: ['No' 'Yes' nan]

In [13]:
# Dropping rows with NaN values
hr_combined = hr_combined.dropna()
hr_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5976 entries, 0 to 6039
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       5976 non-null   int64
 1   BusinessTravel            5976 non-null   object
 2   DailyRate                 5976 non-null   int64
 3   Department                5976 non-null   object
 4   DistanceFromHome          5976 non-null   int64
 5   Education                 5976 non-null   object
 6   EducationField            5976 non-null   object
 7   EmployeeCount             5976 non-null   int64
 8   EmployeeNumber            5976 non-null   object
 9   EnvironmentSatisfaction   5976 non-null   int64
 10  Gender                    5976 non-null   object
 11  HourlyRate                5976 non-null   int64
 12  JobInvolvement            5976 non-null   int64
 13  JobLevel                  5976 non-null   int64
 14  JobRole                   5976 non-null   object
 15  JobSatisfaction           5976 non-null   int64
 16  MaritalStatus             5976 non-null   object
 17  MonthlyIncome             5976 non-null   object
 18  MonthlyRate               5976 non-null   object
 19  NumCompaniesWorked        5976 non-null   int64
 20  Over18                    5976 non-null   object
 21  OverTime                  5976 non-null   object
 22  PercentSalaryHike         5976 non-null   int64
 23  PerformanceRating         5976 non-null   int64
 24  RelationshipSatisfaction  5976 non-null   int64
 25  StandardHours             5976 non-null   int64
 26  StockOptionLevel          5976 non-null   int64
 27  TotalWorkingYears         5976 non-null   int64
 28  TrainingTimesLastYear     5976 non-null   int64
 29  WorkLifeBalance           5976 non-null   int64
 30  YearsAtCompany            5976 non-null   int64
 31  YearsInCurrentRole        5976 non-null   int64
 32  YearsSinceLastPromotion   5976 non-null   int64
 33  YearsWithCurrManager      5976 non-null   int64
 34  Attrition                 5976 non-null   object
dtypes: int64(22), object(13)
memory usage: 1.6+ MB

In [14]:
# Dropping NaN values from hr_training
hr_training = hr_training.dropna()
hr_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1000 non-null   int64
 1   BusinessTravel            1000 non-null   object
 2   DailyRate                 1000 non-null   int64
 3   Department                1000 non-null   object
 4   DistanceFromHome          1000 non-null   int64
 5   JobLevel                  1000 non-null   int64
 6   HourlyRate                1000 non-null   int64
 7   MonthlyRate               1000 non-null   int64
 8   MonthlyIncome             1000 non-null   int64
 9   JobRole                   1000 non-null   object
 10  Education                 1000 non-null   int64
 11  EducationField            1000 non-null   object
 12  EmployeeCount             1000 non-null   int64
 13  EmployeeNumber            1000 non-null   object
 14  EnvironmentSatisfaction   1000 non-null   int64
 15  Gender                    1000 non-null   object
 16  JobInvolvement            1000 non-null   int64
 17  training                  1000 non-null   int64
 18  JobSatisfaction           1000 non-null   int64
 19  PerformanceRating         1000 non-null   int64
 20  MaritalStatus             1000 non-null   object
 21  NumCompaniesWorked        1000 non-null   int64
 22  Over18                    1000 non-null   object
 23  OverTime                  1000 non-null   object
 24  PercentSalaryHike         1000 non-null   int64
 25  RelationshipSatisfaction  1000 non-null   int64
 26  StandardHours             1000 non-null   int64
 27  StockOptionLevel          1000 non-null   int64
 28  TotalWorkingYears         1000 non-null   int64
 29  WorkLifeBalance           1000 non-null   int64
 30  YearsAtCompany            1000 non-null   int64
 31  YearsInCurrentRole        1000 non-null   int64
 32  YearsSinceLastPromotion   1000 non-null   int64
 33  YearsWithCurrManager      1000 non-null   int64
 34  Attrition                 1000 non-null   object
dtypes: int64(25), object(10)
memory usage: 281.2+ KB

In [15]:
# Listing columns for analyzing
columns_hr_training = set(hr_training.columns)
columns_hr_combined = set(hr_combined.columns)

In [16]:
# Determining what is missing from dataframes and printing it
in_1_not_2 = columns_hr_training - columns_hr_combined
in_2_not_1 = columns_hr_combined - columns_hr_training

print("In Training not Combined", in_1_not_2)
print("In Combined not Training", in_2_not_1)

In Training not Combined {'training'}
In Combined not Training {'TrainingTimesLastYear'}

In [17]:
# Renaming 'TrainingTimesLastYear' to 'training' to match hr_combined with hr_training
hr_combined.rename(columns={'TrainingTimesLastYear': 'training'}, inplace= True)
hr_combined['training'].value_counts()

2    1554
3    1422
4     670
5     663
6     595
1     569
0     503
Name: training, dtype: int64

In [18]:
# Creating list of columns to compare datatypes
common_columns = columns_hr_training.intersection(columns_hr_combined)

In [19]:
# Analyzing column datatypes for differences
for col in common_columns:
    if hr_training[col].dtype != hr_combined[col].dtype:
        print(f"Column '{col}' has different data types: hr_training({hr_training[col].dtype}) vs hr_combined({hr_combined[col].dtype})")

Column 'MonthlyRate' has different data types: hr_training(int64) vs hr_combined(object)
Column 'Education' has different data types: hr_training(int64) vs hr_combined(object)
Column 'MonthlyIncome' has different data types: hr_training(int64) vs hr_combined(object)

In [20]:
# Forcing columns to int; filling errors with NaN
hr_combined['MonthlyIncome'] = pd.to_numeric(hr_combined['MonthlyIncome'], errors='coerce')
hr_combined['MonthlyRate'] = pd.to_numeric(hr_combined['MonthlyRate'], errors='coerce')
hr_combined['Education'] = pd.to_numeric(hr_combined['Education'], errors='coerce')

In [21]:
# Dropping rows with NaN values
hr_combined = hr_combined.dropna()
hr_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5926 entries, 10 to 6039
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       5926 non-null   int64
 1   BusinessTravel            5926 non-null   object
 2   DailyRate                 5926 non-null   int64
 3   Department                5926 non-null   object
 4   DistanceFromHome          5926 non-null   int64
 5   Education                 5926 non-null   float64
 6   EducationField            5926 non-null   object
 7   EmployeeCount             5926 non-null   int64
 8   EmployeeNumber            5926 non-null   object
 9   EnvironmentSatisfaction   5926 non-null   int64
 10  Gender                    5926 non-null   object
 11  HourlyRate                5926 non-null   int64
 12  JobInvolvement            5926 non-null   int64
 13  JobLevel                  5926 non-null   int64
 14  JobRole                   5926 non-null   object
 15  JobSatisfaction           5926 non-null   int64
 16  MaritalStatus             5926 non-null   object
 17  MonthlyIncome             5926 non-null   float64
 18  MonthlyRate               5926 non-null   float64
 19  NumCompaniesWorked        5926 non-null   int64
 20  Over18                    5926 non-null   object
 21  OverTime                  5926 non-null   object
 22  PercentSalaryHike         5926 non-null   int64
 23  PerformanceRating         5926 non-null   int64
 24  RelationshipSatisfaction  5926 non-null   int64
 25  StandardHours             5926 non-null   int64
 26  StockOptionLevel          5926 non-null   int64
 27  TotalWorkingYears         5926 non-null   int64
 28  training                  5926 non-null   int64
 29  WorkLifeBalance           5926 non-null   int64
 30  YearsAtCompany            5926 non-null   int64
 31  YearsInCurrentRole        5926 non-null   int64
 32  YearsSinceLastPromotion   5926 non-null   int64
 33  YearsWithCurrManager      5926 non-null   int64
 34  Attrition                 5926 non-null   object
dtypes: float64(3), int64(22), object(10)
memory usage: 1.6+ MB

In [22]:
hr_combined['MonthlyIncome']= hr_combined['MonthlyIncome'].astype('int64')
hr_combined['MonthlyRate']= hr_combined['MonthlyRate'].astype('int64')
hr_combined['Education']= hr_combined['Education'].astype('int64')

In [23]:
# Verifying MonthlyIncome, MonthlyRate and Education are now int.
hr_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5926 entries, 10 to 6039
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       5926 non-null   int64
 1   BusinessTravel            5926 non-null   object
 2   DailyRate                 5926 non-null   int64
 3   Department                5926 non-null   object
 4   DistanceFromHome          5926 non-null   int64
 5   Education                 5926 non-null   int64
 6   EducationField            5926 non-null   object
 7   EmployeeCount             5926 non-null   int64
 8   EmployeeNumber            5926 non-null   object
 9   EnvironmentSatisfaction   5926 non-null   int64
 10  Gender                    5926 non-null   object
 11  HourlyRate                5926 non-null   int64
 12  JobInvolvement            5926 non-null   int64
 13  JobLevel                  5926 non-null   int64
 14  JobRole                   5926 non-null   object
 15  JobSatisfaction           5926 non-null   int64
 16  MaritalStatus             5926 non-null   object
 17  MonthlyIncome             5926 non-null   int64
 18  MonthlyRate               5926 non-null   int64
 19  NumCompaniesWorked        5926 non-null   int64
 20  Over18                    5926 non-null   object
 21  OverTime                  5926 non-null   object
 22  PercentSalaryHike         5926 non-null   int64
 23  PerformanceRating         5926 non-null   int64
 24  RelationshipSatisfaction  5926 non-null   int64
 25  StandardHours             5926 non-null   int64
 26  StockOptionLevel          5926 non-null   int64
 27  TotalWorkingYears         5926 non-null   int64
 28  training                  5926 non-null   int64
 29  WorkLifeBalance           5926 non-null   int64
 30  YearsAtCompany            5926 non-null   int64
 31  YearsInCurrentRole        5926 non-null   int64
 32  YearsSinceLastPromotion   5926 non-null   int64
 33  YearsWithCurrManager      5926 non-null   int64
 34  Attrition                 5926 non-null   object
dtypes: int64(25), object(10)
memory usage: 1.6+ MB

In [24]:
hr_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1000 non-null   int64
 1   BusinessTravel            1000 non-null   object
 2   DailyRate                 1000 non-null   int64
 3   Department                1000 non-null   object
 4   DistanceFromHome          1000 non-null   int64
 5   JobLevel                  1000 non-null   int64
 6   HourlyRate                1000 non-null   int64
 7   MonthlyRate               1000 non-null   int64
 8   MonthlyIncome             1000 non-null   int64
 9   JobRole                   1000 non-null   object
 10  Education                 1000 non-null   int64
 11  EducationField            1000 non-null   object
 12  EmployeeCount             1000 non-null   int64
 13  EmployeeNumber            1000 non-null   object
 14  EnvironmentSatisfaction   1000 non-null   int64
 15  Gender                    1000 non-null   object
 16  JobInvolvement            1000 non-null   int64
 17  training                  1000 non-null   int64
 18  JobSatisfaction           1000 non-null   int64
 19  PerformanceRating         1000 non-null   int64
 20  MaritalStatus             1000 non-null   object
 21  NumCompaniesWorked        1000 non-null   int64
 22  Over18                    1000 non-null   object
 23  OverTime                  1000 non-null   object
 24  PercentSalaryHike         1000 non-null   int64
 25  RelationshipSatisfaction  1000 non-null   int64
 26  StandardHours             1000 non-null   int64
 27  StockOptionLevel          1000 non-null   int64
 28  TotalWorkingYears         1000 non-null   int64
 29  WorkLifeBalance           1000 non-null   int64
 30  YearsAtCompany            1000 non-null   int64
 31  YearsInCurrentRole        1000 non-null   int64
 32  YearsSinceLastPromotion   1000 non-null   int64
 33  YearsWithCurrManager      1000 non-null   int64
 34  Attrition                 1000 non-null   object
dtypes: int64(25), object(10)
memory usage: 281.2+ KB

In [25]:
hr_combined['Attrition'].value_counts()

No     4166
Yes    1760
Name: Attrition, dtype: int64

In [26]:
hr_training['Gender'].value_counts()

F    507
M    493
Name: Gender, dtype: int64

In [27]:
hr_combined['Gender'].value_counts()

Male      1764
M         1506
F         1480
Female    1176
Name: Gender, dtype: int64

In [28]:
# Replacing 'Male' and 'Female' values with 'M' and 'F'
def replace_values(x):
    if x == 'Male':
        return 'M'
    elif x == 'Female':
        return 'F'
    elif x == 'M':
        return 'M'
    elif x == 'F':
        return 'F'
    
hr_combined['Gender'] = hr_combined['Gender'].apply(replace_values)
hr_combined['Gender'].value_counts()

M    3270
F    2656
Name: Gender, dtype: int64

In [29]:
hr_training['Attrition'].value_counts()

Yes    566
No     434
Name: Attrition, dtype: int64

In [30]:
hr_training['Attrition'] = hr_training['Attrition'].map({'No':0, 'Yes': 1})
hr_training['Attrition'] = hr_training['Attrition'].astype(int)
hr_training['Attrition'].value_counts()

1    566
0    434
Name: Attrition, dtype: int64

In [31]:
hr_combined['Attrition'] = hr_combined['Attrition'].map({'No':0, 'Yes': 1})
hr_combined['Attrition'] = hr_combined['Attrition'].astype(int)
hr_combined['Attrition'].value_counts()

0    4166
1    1760
Name: Attrition, dtype: int64

In [32]:
# Making 'Gender' a binary value (either 0 for Male or 1 for Female)
hr_training['Gender'] = hr_training['Gender'].map({'M':0, 'F':1})
hr_training['Gender'] = hr_training['Gender'].astype(int)
hr_training['Gender'].value_counts()

1    507
0    493
Name: Gender, dtype: int64

In [33]:
hr_combined['Gender'].value_counts()

M    3270
F    2656
Name: Gender, dtype: int64

In [34]:
# Making 'Gender' a binary value (either 0 for Male or 1 for Female)
hr_combined['Gender'] = hr_combined['Gender'].map({'M':0, 'F':1})
hr_combined['Gender'] = hr_combined['Gender'].astype(int)
hr_combined['Gender'].value_counts()

0    3270
1    2656
Name: Gender, dtype: int64

In [35]:
hr_training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1000 non-null   int64
 1   BusinessTravel            1000 non-null   object
 2   DailyRate                 1000 non-null   int64
 3   Department                1000 non-null   object
 4   DistanceFromHome          1000 non-null   int64
 5   JobLevel                  1000 non-null   int64
 6   HourlyRate                1000 non-null   int64
 7   MonthlyRate               1000 non-null   int64
 8   MonthlyIncome             1000 non-null   int64
 9   JobRole                   1000 non-null   object
 10  Education                 1000 non-null   int64
 11  EducationField            1000 non-null   object
 12  EmployeeCount             1000 non-null   int64
 13  EmployeeNumber            1000 non-null   object
 14  EnvironmentSatisfaction   1000 non-null   int64
 15  Gender                    1000 non-null   int32
 16  JobInvolvement            1000 non-null   int64
 17  training                  1000 non-null   int64
 18  JobSatisfaction           1000 non-null   int64
 19  PerformanceRating         1000 non-null   int64
 20  MaritalStatus             1000 non-null   object
 21  NumCompaniesWorked        1000 non-null   int64
 22  Over18                    1000 non-null   object
 23  OverTime                  1000 non-null   object
 24  PercentSalaryHike         1000 non-null   int64
 25  RelationshipSatisfaction  1000 non-null   int64
 26  StandardHours             1000 non-null   int64
 27  StockOptionLevel          1000 non-null   int64
 28  TotalWorkingYears         1000 non-null   int64
 29  WorkLifeBalance           1000 non-null   int64
 30  YearsAtCompany            1000 non-null   int64
 31  YearsInCurrentRole        1000 non-null   int64
 32  YearsSinceLastPromotion   1000 non-null   int64
 33  YearsWithCurrManager      1000 non-null   int64
 34  Attrition                 1000 non-null   int32
dtypes: int32(2), int64(25), object(8)
memory usage: 273.4+ KB

In [36]:
# Analyzing column datatypes for differences
for col in common_columns:
    if hr_training[col].dtype != hr_combined[col].dtype:
        print(f"Column '{col}' has different data types: hr_training({hr_training[col].dtype}) vs hr_combined({hr_combined[col].dtype})")

In [37]:
# Concatenate the two files
hr_data_all = pd.concat([hr_combined, hr_training], ignore_index=True)

In [38]:
hr_data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6926 entries, 0 to 6925
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       6926 non-null   int64
 1   BusinessTravel            6926 non-null   object
 2   DailyRate                 6926 non-null   int64
 3   Department                6926 non-null   object
 4   DistanceFromHome          6926 non-null   int64
 5   Education                 6926 non-null   int64
 6   EducationField            6926 non-null   object
 7   EmployeeCount             6926 non-null   int64
 8   EmployeeNumber            6926 non-null   object
 9   EnvironmentSatisfaction   6926 non-null   int64
 10  Gender                    6926 non-null   int32
 11  HourlyRate                6926 non-null   int64
 12  JobInvolvement            6926 non-null   int64
 13  JobLevel                  6926 non-null   int64
 14  JobRole                   6926 non-null   object
 15  JobSatisfaction           6926 non-null   int64
 16  MaritalStatus             6926 non-null   object
 17  MonthlyIncome             6926 non-null   int64
 18  MonthlyRate               6926 non-null   int64
 19  NumCompaniesWorked        6926 non-null   int64
 20  Over18                    6926 non-null   object
 21  OverTime                  6926 non-null   object
 22  PercentSalaryHike         6926 non-null   int64
 23  PerformanceRating         6926 non-null   int64
 24  RelationshipSatisfaction  6926 non-null   int64
 25  StandardHours             6926 non-null   int64
 26  StockOptionLevel          6926 non-null   int64
 27  TotalWorkingYears         6926 non-null   int64
 28  training                  6926 non-null   int64
 29  WorkLifeBalance           6926 non-null   int64
 30  YearsAtCompany            6926 non-null   int64
 31  YearsInCurrentRole        6926 non-null   int64
 32  YearsSinceLastPromotion   6926 non-null   int64
 33  YearsWithCurrManager      6926 non-null   int64
 34  Attrition                 6926 non-null   int32
dtypes: int32(2), int64(25), object(8)
memory usage: 1.8+ MB

In [39]:
# Dropping unnecessary columns
hr_data_all = hr_data_all.drop(["EmployeeNumber","Over18"], axis=1)

In [40]:
# Making sure all labels are encoded as integers
label_encoder = LabelEncoder()

hr_data_all['BusinessTravel'] = label_encoder.fit_transform(hr_data_all['BusinessTravel'])
hr_data_all['Department'] = label_encoder.fit_transform(hr_data_all['Department'])
hr_data_all['EducationField'] = label_encoder.fit_transform(hr_data_all['EducationField'])
hr_data_all['Gender'] = label_encoder.fit_transform(hr_data_all['Gender'])
hr_data_all['JobRole'] = label_encoder.fit_transform(hr_data_all['JobRole'])
hr_data_all['MaritalStatus'] = label_encoder.fit_transform(hr_data_all['MaritalStatus'])
hr_data_all['OverTime'] = label_encoder.fit_transform(hr_data_all['OverTime'])
hr_data_all['Attrition'] = label_encoder.fit_transform(hr_data_all['Attrition'])

In [41]:
# Set indepedent and dependent variables
x= hr_data_all.drop(columns=['Attrition'])
y= hr_data_all['Attrition']

In [42]:
# Splitting dataset into training/test set
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.2, random_state=0)

In [43]:
# Feature scaling
scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [44]:
# Export to .csv
hr_data_all.to_csv(r'//apporto.com/dfs/SNHU/Users/seanward4_snhu/HR_Raw.csv', index=False)

In [45]:
# Export to .csv
hr_data_all.to_csv(r'\\apporto.com\\dfs\\SNHU\\USERS\\seanward4_snhu\\Desktop\\HR_Raw.csv', index=False)